@import '../../assets/scss/init';

@media (min-width:#{$tablet-max+1}px) {
    .main {
        width:100%;
        display: flex;
        flex-direction: row;
        margin-bottom:24px;
        overflow: hidden;
        border-radius: 6px;
    }

    .gallery {
        width:66%;
        height:60vw;
        max-height: 565px;
        overflow: hidden;
        border-radius: 6px;
    }

    .data {
        width:33%;
        background:#FFF;
        padding: 10px 18px;
    }

    .title {
        font-size: 24px;
        color:#000;
        margin-top:10px;
        margin-bottom:10px;
        
    }

    .main-review {
        display: flex;
        flex-direction: row;
        img {
            width:40px;
            height:40px;
            border-radius: 100%;
            display: block;
        }
        p {

            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
          }
          
          h6 {
            font-size: 16px;
            font-weight: 600;
            color: #4e5255;
          }

    }

    .location {
        position: relative;
        margin-top:12px;
        padding-left:30px;
        box-sizing:border-box;
        font-weight: $normal;
        cursor: pointer;
        &--on {
            font-weight: $bold;
            
        }
        i {
            position:absolute;
            transition:0.3s;
            top:2px;
            left:2px;
            font-size: 20px;
            
        }

        a {
            display: inline;
            border-bottom: 1px dashed currentColor;
            text-decoration: none;
            font-family: SegoeUI;
            font-size: 14px;
            
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #666;


        }

        &:hover {
            i {
                transition:0.3s;
                top:-3px;
            }
        }
    }
    .services {
        margin-top:16px;
        box-sizing: border-box;
        padding-top:16px;
        border-top:1px solid #e9e9e9;
        padding-bottom:16px;
        border-bottom:1px solid #e9e9e9;
        
        li {
            
            font-family: SegoeUI;
            font-size: 16px;
            font-weight: $normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
            i {
                margin-right:10px;
            }
          }
          
          &__more {
            color: #3296cb;
          }
    }

    .products {

        margin:24px 0;
    }

    .text {
        margin:2px 0;
        background: #FFF;
        box-sizing: border-box;
        padding:33px 90px;

        &-title {
            text-transform: uppercase;
            font-family: SegoeUI;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #202124;
            margin-bottom: 24px;

          }
        
          &-content {
            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.85;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
                a {
                     color: #68bce5;
                }
                h1,h2,h3,h4,h5,h6 {
                    font-family: SegoeUI;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: #5e687a;
                }

                b,em {
                    font-size: 125%;
                    color: #68bce5;
                }
                ul {
                    padding-left:20px;
                    list-style-type:disc;
                }
                img {
                    max-width:100%;
                    height:auto;}
          }
          


    }
}

@media (min-width:#{$mobile-max+1}px) and (max-width:#{$tablet-max}px) {
    .main {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-bottom:24px;
        overflow: hidden;
        border-radius: 6px;
    }

    .gallery {
        width:100%;
        height:auto;
        max-height: auto;
        overflow: hidden;
        border-radius: 6px;
    }

    .data {
        width:100%;
        background:#FFF;
        padding: 10px 18px;
    }

    .title {
        font-size: 24px;
        color:#000;
        margin-top:10px;
        margin-bottom:10px;
        
    }

    .main-review {
        display: flex;
        flex-direction: row;
        img {
            width:40px;
            height:40px;
            border-radius: 100%;
            display: block;
        }
        p {

            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
          }
          
          h6 {
            font-size: 16px;
            font-weight: 600;
            color: #4e5255;
          }

    }

    .location {
        cursor: pointer;
        position: relative;
        margin-top:12px;
        padding-left:30px;
        box-sizing:border-box;
        font-weight: $normal;
        i {
            position:absolute;
            transition:0.3s;
            top:2px;
            left:2px;
            font-size: 20px;
            
        }
        
        a {
            cursor: pointer;
            display: inline;
            border-bottom: 1px dashed currentColor;
            text-decoration: none;
            font-family: SegoeUI;
            font-size: 14px;

            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #666;
            
            
        }
        
        &--on {
            font-weight: $bold;
            
        }
        &:hover {
            i {
                transition:0.3s;
                top:-3px;
            }
        }

    }
    .services {
        margin-top:16px;
        box-sizing: border-box;
        padding-top:16px;
        border-top:1px solid #e9e9e9;
        padding-bottom:16px;
        border-bottom:1px solid #e9e9e9;
        li {
            
            font-family: SegoeUI;
            font-size: 16px;
            font-weight: $normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
            i {
                margin-right:10px;
            }
          }
          
          &__more {
            color: #3296cb;
          }
    }

    .products {

        margin:24px 0;
    }

    .text {
        margin:2px 0;
        background: #FFF;
        box-sizing: border-box;
        padding:33px 90px;

        &-title {
            text-transform: uppercase;
            font-family: SegoeUI;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #202124;
            margin-bottom: 24px;

          }
        
          &-content {
            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.85;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
                a {
                     color: #68bce5;
                }
                h1,h2,h3,h4,h5,h6 {
                    font-family: SegoeUI;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: #5e687a;
                }

                b,em {
                    font-size: 125%;
                    color: #68bce5;
                }
                ul {
                    padding-left:20px;
                    list-style-type:disc;
                }
          }
          


    }
}

@media (max-width:#{$mobile-max}px) {
    .main {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-bottom:24px;
        overflow: hidden;
        border-radius: 6px;
    }

    .gallery {
        width:100%;
        height:auto;
        max-height: auto;
        overflow: hidden;
        border-radius: 6px;
    }

    .data {
        width:100%;
        background:#FFF;
        padding: 10px 18px;
    }

    .title {
        font-size: 24px;
        color:#000;
        margin-top:10px;
        margin-bottom:10px;
        
    }

    .main-review {
        display: flex;
        flex-direction: row;
        img {
            width:40px;
            height:40px;
            border-radius: 100%;
            display: block;
        }
        p {

            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
          }
          
          h6 {
            font-size: 16px;
            font-weight: 600;
            color: #4e5255;
          }

    }

    .location {
        position: relative;
        margin-top:12px;
        padding-left:30px;
        box-sizing:border-box;
        i {
            position:absolute;
            transition:0.3s;
            top:2px;
            left:2px;
            font-size: 20px;
            
        }

        a {
            display: inline;
            border-bottom: 1px dashed currentColor;
            text-decoration: none;
            font-family: SegoeUI;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #666;


        }

        &:hover {
            i {
                transition:0.3s;
                top:-3px;
            }
        }
    }
    .services {
        margin-top:16px;
        box-sizing: border-box;
        padding-top:16px;
        border-top:1px solid #e9e9e9;
        padding-bottom:16px;
        border-bottom:1px solid #e9e9e9;
        li {
            
            font-family: SegoeUI;
            font-size: 16px;
            font-weight: $normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
            i {
                margin-right:10px;
            }
          }
          
          &__more {
            color: #3296cb;
          }
    }

    .products {

        margin:24px 0;
    }

    .text {
        margin:2px 0;
        background: #FFF;
        box-sizing: border-box;
        padding:46px 16px;

        &-title {
            text-transform: uppercase;
            font-family: SegoeUI;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #202124;
            margin-bottom: 24px;

          }
        
          &-content {
            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.85;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
                a {
                     color: #68bce5;
                }
                h1,h2,h3,h4,h5,h6 {
                    font-family: SegoeUI;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: #5e687a;
                }

                b,em {
                    font-size: 125%;
                    color: #68bce5;
                }
                ul {
                    padding-left:20px;
                    list-style-type:disc;
                }
          }
          


    }
}