@import '../../assets/scss/init';

.container {
    display: flex;
    background:#FFF;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        box-shadow: 0 5px  5px rgba(0,0,0,.1);
    }
}

.image {
    height:180px;
    width:auto;
}

.title {
    
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4e5255;
    margin-bottom:8px;
  }
.description {
    flex-grow:1;
    padding:8px 22px;
}
.prices {
    padding:8px 22px 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 180px;

}
  .text {

    font-family: SegoeUI;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
  }

  .more{
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #3296cb;
  }

.price {
  align-self:flex-end;
  font-family: SegoeUI;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-top:8px;
  margin-bottom:8px;
  span {
      font-size: 20px;
      font-weight: $normal;
      color: #9a9a9a;
      text-decoration: line-through;
  }
}

.hint {
    align-self:flex-end;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: $normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #c0c0c0;
}


.buttons {
    align-self:center;

}

.btn {
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    color:currentColor;
    outline:none;
    border: 1px solid currentColor;
    padding:11px 18px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: SegoeUI;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    opacity:0.8;
    &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color:#FFF;
        span,i {
            transition: 0.3s;
            color:#FFF;
        }
    }
    

    &-icon {
        background-color:currentColor;
        padding:3px 7px;
        top:9px;
        position: relative;
        font-size: 30px;
        line-height:1;
        outline:none;
        border:none;
        transition: 0.3s;
        i,span {
            transition: 0.3s;
            color:#FFF;
        }

        &:hover {
            transition: 0.3s;
            background-color:#FFF;
            i,span {
                transition: 0.3s;
                color:currentColor;
            }

        }

    }
}

@media (max-width:#{$mobile-max}px) {

.container {
    display: flex;
    background:#FFF;
    width:100%;
    border-radius: 6px;
    flex-flow: column;
}

.image {
    height:auto;
    width:100%;
}

.title {
    
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4e5255;
    margin-bottom:8px;
  }
.description {
    flex-grow:1;
    padding:8px 22px;
}
.prices {
    padding:8px 22px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
  .text {

    font-family: SegoeUI;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
  }

  .more{
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #3296cb;
  }

.price {
  align-self:flex-end;
  font-family: SegoeUI;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-top:8px;
  margin-bottom:8px;
  
  span {
      font-size: 20px;
      font-weight: $normal;
      color: #9a9a9a;
      text-decoration: line-through;
  }
}

.hint {
    align-self:flex-end;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: $normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #c0c0c0;
}


.buttons {
    margin-left:8px;

}

.btn {
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    color:currentColor;
    outline:none;
    border: 1px solid currentColor;
    padding:11px 18px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: SegoeUI;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    opacity:0.8;
    &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color:#FFF;
        span,i {
            transition: 0.3s;
            color:#FFF;
        }
    }
    

    &-icon {
        background-color:currentColor;
        padding:3px 7px;
        top:9px;
        position: relative;
        font-size: 30px;
        line-height:1;
        outline:none;
        border:none;
        transition: 0.3s;
        i,span {
            transition: 0.3s;
            color:#FFF;
        }

        &:hover {
            transition: 0.3s;
            background-color:#FFF;
            i,span {
                transition: 0.3s;
                color:currentColor;
            }

        }

    }
}
    
}