@import '../../assets/scss/init';

.layout {
    display: flex;
    justify-content: space-between;
}

.col_left {
    width:66%;
}

.col_right {
    width:33%
}

.container {
    margin-top:36px;
    
}
.item {
    display:block;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom:10px;

    &-main {
        display: flex;
        flex-direction: row;
    }

    &-icon {
        margin-right:5px;
        width: 20px;
        height: 20px;
        background-color: #c8cdd5;
        display: flex;
        
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-bottom:5px;
        cursor:pointer;
        transition:background-color 0.5s;
        span {
            font-size: 12px;
            color:#FFF;
            font-weight: bold;
            line-height: 1;
        }
        &:hover {
            background-color: currentColor;
        }
    }
    &-image {
        display: block;
        width: 186px;
        height: 120px;
        object-fit: cover;
        border-radius: 6px;
        margin-left:5px;
        margin-right:5px;
    }
    &-title {
        font-family: SegoeUI;
        font-size: 18px;
        font-weight: $semi-bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #010101;
        margin-top:10px;
        margin-bottom:4px;
    }

    &-data {
        margin-left:5px;
    }

    &-summary {
        font-family: SegoeUI;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #707070;

        li span {
            font-size: 13px;
        }
    }

    &-price {
        font-family: SegoeUI;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-top:20px;
    }

    &-toggle {
        margin-left: 12px;
        user-select:none;
        label {
            cursor: pointer;
            color: #000000;
            border-bottom:1px dashed currentColor;
            &:before {
                content:'❬';
                transform: scaleX(0.5)  rotate(-90deg);
                display: inline-block;     
                margin-right:4px;  
                transition: transform 0.5s;
                
            }
        }
        input {
            display: none;
        }
        input:checked + label{
            color:currentColor;
            &:before {
                transform: scaleX(0.5)  rotate(90deg);
                transition: transform  0.5s;
            }
        }
    }
    &-details {
        overflow: hidden;
        max-height:0;
        transition:max-height 0.5s;
        
        &--expanded {
            max-height:9999px;
            transition:max-height 0.5s;
        }
    }



}

.product {
    margin-top:16px;
    margin-left:36px;
    margin-right: 30px;
    box-sizing: border-box;
    padding:16px 0px ;
    border-top: 3px solid #f3f5fa;
    position: relative;
    &-title {
        font-family: SegoeUI;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #1d1d1d;
        margin-top:16px;
    }
    &-text {
        font-family: SegoeUI;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
    }
    &-param {
        display: inline-block;
        box-sizing: border-box;
        width:50%;
        padding:10px 5px;
    }
    &-param-caption {
        font-family: SegoeUI;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #1d1d1d;
      }
    &-param-value {
        font-family: SegoeUI;
        font-size: 14px;
        display: inline-block;
        margin-left:12px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        
        font-weight: $light;
        color: #707070;
      }

      &-param-input {
          margin-top:12px;
          display: block;
          width:100%;
          background:none;
          color: #707070;
          border:1px solid #d6d4d6;
          border-radius: 6px;
          box-sizing: border-box;
          padding:6px;
          font-family: SegoeUI;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: italic;
          line-height: 1.36;
          letter-spacing: normal;
          text-align: left;

    }
    &-remove {
        position: absolute;
        right:0;
        top:10px;
        cursor: pointer;
        span {
            color:#c8cdd5;
            transition: color 0.5s;
            &:hover {
                color:desaturate(red, 30%);
                transition: color 0.5s;
            }

        }
    }

    &-button {
        background:#FFF;
        border-radius: 6px;
        border: solid 1px currentColor;
        padding:12px 16px;
        color:currentColor;
        text-transform: uppercase;
        display: block;
        margin: 12px auto;
        cursor: pointer;
        transition:background 0.5s;
        &:focus {
            outline:none;
        }
        &:hover {
            background:currentColor;
            transition:background 0.5s;
            span {
                color:#FFF;
            }
        }
    }

}
@media (max-width:#{$mobile_max}px) {
    .layout {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    .col_left {
        width:100%;
    }
    
    .col_right {
        width:100%;
    }
    
    .container {
        margin-top:6px;
        
    }

    .item {
        display:block;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom:10px;
    
        &-main {
            display: flex;
            flex-direction: row;
        }

        
    
        &-icon {
            margin-right:5px;
            width: 20px;
            height: 20px;
            background-color: #c8cdd5;
            display: flex;
            
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin-bottom:5px;
            cursor:pointer;
            transition:background-color 0.5s;
            span {
                font-size: 12px;
                color:#FFF;
                font-weight: bold;
                line-height: 1;
            }
            &:hover {
                background-color: currentColor;
            }
        }
        &-image {
            display: block;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 6px;
            margin-left:5px;
            margin-right:5px;
        }
        &-title {
            font-family: SegoeUI;
            font-size: 18px;
            font-weight: $semi-bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #010101;
            margin-top:10px;
            margin-bottom:4px;
        }
    
        &-data {
            margin-left:5px;
        }
    
        &-summary {
            font-family: SegoeUI;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
    
            li span {
                font-size: 13px;
            }
        }
    
        &-price {
            font-family: SegoeUI;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-top:20px;
        }
    
        &-toggle {
            margin-left: 12px;
            user-select:none;
            label {
                cursor: pointer;
                color: #000000;
                border-bottom:1px dashed currentColor;
                &:before {
                    content:'❬';
                    transform: scaleX(0.5)  rotate(-90deg);
                    display: inline-block;     
                    margin-right:4px;  
                    transition: transform 0.5s;
                    
                }
            }
            input {
                display: none;
            }
            input:checked + label{
                color:currentColor;
                &:before {
                    transform: scaleX(0.5)  rotate(90deg);
                    transition: transform  0.5s;
                }
            }
        }
        &-details {
            overflow: hidden;
            max-height:0;
            transition:max-height 0.5s;
            
            &--expanded {
                max-height:9999px;
                transition:max-height 0.5s;
            }
        }
    
    
    
    }
    
    .product {
        margin-top:16px;
        margin-left:6px;
        margin-right: 6px;
        box-sizing: border-box;
        padding:16px 0px ;
        border-top: 3px solid #f3f5fa;
        position: relative;
        &-title {
            font-family: SegoeUI;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #1d1d1d;
            margin-top:16px;
        }
        &-text {
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
        }
        &-param {
            display: inline-block;
            box-sizing: border-box;
            width:100%;
            padding:10px 5px;
        }
        &-param-caption {
            font-family: SegoeUI;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #1d1d1d;
          }
        &-param-value {
            font-family: SegoeUI;
            font-size: 14px;
            display: inline-block;
            margin-left:12px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            
            font-weight: $light;
            color: #707070;
          }
    
          &-param-input {
              margin-top:12px;
              display: block;
              width:100%;
              background:none;
              color: #707070;
              border:1px solid #d6d4d6;
              border-radius: 6px;
              box-sizing: border-box;
              padding:6px;
              font-family: SegoeUI;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: italic;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: left;
    
        }
        &-remove {
            position: absolute;
            right:0;
            top:10px;
            cursor: pointer;
            span {
                color:#c8cdd5;
                transition: color 0.5s;
                &:hover {
                    color:desaturate(red, 30%);
                    transition: color 0.5s;
                }
    
            }
        }
    
        &-button {
            background:#FFF;
            border-radius: 6px;
            border: solid 1px currentColor;
            padding:12px 16px;
            color:currentColor;
            text-transform: uppercase;
            display: block;
            margin: 12px auto;
            cursor: pointer;
            transition:background 0.5s;
            &:focus {
                outline:none;
            }
            &:hover {
                background:currentColor;
                transition:background 0.5s;
                span {
                    color:#FFF;
                }
            }
        }
    
    }
}