@import "../../assets/scss/vars";
@import "../../assets/scss/theme";

@media (min-width:#{$mobile_max+1}px) {
  .btn-more {
    display: block;
  }
  .filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    &-group {
      margin: 5px 5px;
      border-radius: 6px;
      border: solid 1px #d4d8e1;
      box-sizing: border-box;
      padding: 2px 10px 6px 10px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      flex-grow: 1;

      // justify-content: space-between;
      align-items: center;
      cursor: pointer;
      & > i,
      div {
        margin: 0 5px;
      }
      &:hover {
        background-color: #ffffff;
        border: 1px solid currentColor;
      }
    }

    &-icon {
      font-size: 22px;
      color: #aaa;
    }

    &-label {
      display: block;
      font-size: 12px;
      font-weight: $light;
      color: #9d9d9d;
    }

    &-input {
      width: 70px;
      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    &-select {
      width: 90px;
      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    &-btn {
      height: 46px;
      background-color: inherit;
      display: inline-block;
      box-sizing: border-box;
      color: currentColor;
      outline: none;
      border: 1px solid currentColor;
      padding: 2px 10px 2px 10px;
      border-radius: 6px;
      text-transform: uppercase;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
      text-decoration: none;
      margin-left: 5px;
      flex-grow: 1;

      &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color: #fff;
        span {
          transition: 0.3s;
          color: #fff;
        }
      }
      span {
        color: currentColor;
        text-transform: uppercase;
      }
    }
    &-text {
      margin: 0;
      height: 21px;
      background: none;
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      cursor: pointer;
      display: block;
      color: #000000;
    }
  }

  .main {
    width: 100%;
    display: flex;
    height: 624px;
    margin-top: 34px;
  }

  .data {
    margin-right: 7.5px;
    width: 65%;
    height: 100%;
  }

  .map {
    width: 35%;
    height: 100%;
    margin-left: 7.5px;
    border-radius: 6px;
    overflow: hidden;
    &-container {
      width: 100%;
      height: 100%;
    }

    &-filter {
      position: absolute;
      z-index: 1;
      transition: 0.5s;
      right: -100px;
      left: auto;
      top: 10px;
      background-color: #f6f8f9;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 20px;

      li {
        box-sizing: border-box;
        padding: 3px 5px;
        font-size: 36px;
        color: inherit;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: darken(#d6d4d6, 20%);
        }
        label {
          color: inherit;
          i {
            color: inherit;
            cursor: pointer;
          }
          input:not(:checked) + i {
            color: #d6d4d6;
          }
          input:checked + i {
            color: inherit;
          }
          input {
            display: none;
          }
        }
      }
    }

    &:hover &-filter {
      transition: 0.5s;
      right: 10px;
    }

    &-item {
      background-color: currentColor;
      padding: 6px 6px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      position: relative;
      &:before {
        display: block;

        position: absolute;
        content: "";
        bottom: -10px;
        right: -10px;
        width: 20px;
        height: 10px;
        border-left: 10px solid currentColor;

        border-bottom: 10px solid rgba(0, 0, 0, 0);
      }
      i {
        color: white;
        font-size: 16px;
      }
      span {
        color: white;
        font-size: 12px;
      }
    }

    &-balloon {
      position: relative;
      top: -110px;
      left: -90px;
      width: 220px;
      min-height: 180px;
      border-radius: 6px;
      background-color: #fff;
      z-index: 99;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      ul {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 100%;
        list-style: none;

        li {
          z-index: 100;
          display: inline-block;
          margin-right: 6px;
        }
      }
      img {
        position: relative;
        cursor: default;
        border-radius: 6px 6px 0 0;
        width: 100%;
        height: 125px;
        object-fit: cover;
      }
      a {
        margin-top: 10px;
        font-family: SegoeUI;
        font-size: 14px;
        font-weight: $normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        text-align: center;
        display: block;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .list {
    overflow-y: auto;
    height: calc(100% - 50px);
    scroll-behavior: smooth;
  }

  .btn {
    border-radius: 6px;
    border: solid 1px #eaecf0;
    background-color: #ffffff;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: $normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #c8cdd5;
    display: block;
    outline: none;
    padding-top: 8px;
    padding-bottom: 12px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 13px;
    box-sizing: border-box;
    &:hover {
      transition: 0.3s;
      color: darken(#c8cdd5, 5%);
      background-color: darken(#ffffff, 2%);
      box-shadow: 0 0 10px darken(#ffffff, 10%);
    }
  }

  .item {
    width: 100%;
    height: 180px;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 13px;
    &:first-of-type {
      margin-top: 0px;
    }
    &:hover {
      transition: 0.5s;
      cursor: pointer;
      box-shadow: 0 0 10px lighten(#000, 80%);
    }

    &-socials {
      transition: 0.5s;
      transform: translateX(-50px);
      position: absolute;
      top: 36px;
      left: 6px;
      z-index: 1;
      background: #f5f5f5;
      border-radius: 6px;
      overflow: hidden;

      padding: 3px 0px;

      li {
        a {
          text-align: center;
          display: block;
          padding: 3px 8px;
          color: #c8cdd5;
          text-decoration: none;
          font-size: 16px;
        }
      }

      li:hover {
        a {
          color: currentColor;
        }
      }
    }

    &:hover &-socials {
      transition: 0.5s;
      transform: translateX(0px);
    }

    &-img {
      width: 37%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &-like {
      position: absolute;
      top: 6px;

      left: 8px;
      z-index: 1;
      font-size: 24px;
      text-decoration: none;
      color: #fff;

      transition: 0.3s;
      input {
        display: none;
      }
      i {
        font-family: "icons";
        cursor: pointer;
      }
      i:before {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        content: "\f10d";
      }

      input:checked + i {
        transition: 0.3s;
        color: red;
        &:before {
          content: "\f10e";
        }
      }

      &:hover {
        transform: scale(1.2);
      }
    }
    &-link {
      position: absolute;
      left: 0%;
      width: 60%;
      height: 100%;
      top: 10%;
    }
    &-data {
      padding: 8px 12px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #fff;
      width: 63%;
      justify-content: space-between;
    }
    &-title {
      font-family: SegoeUI;
      font-size: 20px;
      font-weight: $semi-bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #4e5255;
      text-decoration: none;
    }

    &-label {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 1px;
      font-family: SegoeUI;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      border-radius: 3px;
      background-color: #66a3e9;
      padding: 3px 5px 5px;
      text-transform: lowercase;

      &--green {
        background-color: #39b7aa;
      }
      &--red {
        background-color: #fa6980;
      }
    }

    &-price {
      align-self: flex-end;
      font-family: SegoeUI;
      font-size: 26px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.77;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
      span {
        font-size: 20px;
        font-weight: $normal;
        color: #9a9a9a;
        text-decoration: line-through;
      }
    }

    &-hint {
      align-self: flex-end;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #c0c0c0;
    }
    &-text {
      align-self: flex-end;
      font-family: SegoeUI;
      font-size: 13px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #333;
      max-height: 64px;
      overflow-y: hidden;
    }

    &-buttons {
      align-self: flex-end;
    }

    &-btn {
      background-color: #fff;
      display: inline-block;
      box-sizing: border-box;
      color: currentColor;
      outline: none;
      border: 1px solid currentColor;
      padding: 11px 16px;
      border-radius: 3px;
      text-transform: uppercase;
      font-family: SegoeUI;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
      text-decoration: none;
      &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color: #fff;
        span,
        i {
          transition: 0.3s;
          color: #fff;
        }
      }

      &-icon {
        background-color: currentColor;
        padding: 3px 7px;
        top: 9px;
        position: relative;
        font-size: 30px;
        line-height: 1;
        outline: none;
        border: none;
        transition: 0.3s;
        i,
        span {
          transition: 0.3s;
          color: #fff;
        }

        &:hover {
          transition: 0.3s;
          background-color: #fff;
          i,
          span {
            transition: 0.3s;
            color: currentColor;
          }
        }
      }
    }
  }
  .wrapper-btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .wrapper-btn-mobile {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 1027px) {
  .filter-title {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
@media (max-width: 440px) {
  .filter-btn {
    width: 100%;
  }
}

@media (max-width:#{$mobile_max}px) {
  .filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    &-group {
      margin: 5px 5px;
      border-radius: 6px;
      border: solid 1px #d4d8e1;
      box-sizing: border-box;
      padding: 2px 10px 6px 10px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      flex-grow: 1;
      // justify-content: space-between;
      align-items: center;
      & > i,
      div {
        margin: 0 5px;
      }
      &:hover {
        background-color: #ffffff;
        border: 1px solid currentColor;
      }
    }

    &-icon {
      font-size: 22px;
      color: #d4d8e1;
    }

    &-label {
      display: block;
      font-size: 12px;
      font-weight: $light;
      color: #9d9d9d;
    }

    &-input {
      width: 70px;
      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    &-select {
      width: 90px;
      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    &-btn {
      height: 46px;
      background-color: inherit;
      display: inline-block;
      box-sizing: border-box;
      color: currentColor;
      outline: none;
      border: 1px solid currentColor;
      padding: 2px 10px 2px 10px;
      border-radius: 6px;
      text-transform: uppercase;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
      text-decoration: none;
      margin-left: 5px;
      flex-grow: 1;

      &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color: #fff;
        span {
          transition: 0.3s;
          color: #fff;
        }
      }
      span {
        color: currentColor;
        text-transform: uppercase;
      }
    }
    &-text {
      margin: 0;
      height: 21px;
      background: none;
      font-family: SegoeUI;
      font-size: 14px;
      font-weight: $normal;
      cursor: pointer;
      display: block;
      color: #000000;
    }
  }

  .main {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 34px;
  }

  .data {
    margin-right: 7.5px;
    width: 100%;
    height: 100%;
  }

  .map {
    width: 35%;
    height: 100%;
    margin-left: 7.5px;
    border-radius: 6px;
    overflow: hidden;
    &-container {
      width: 100%;
      height: 100%;
    }

    &-filter {
      position: absolute;
      z-index: 1;
      transition: 0.5s;
      right: -100px;
      left: auto;
      top: 10px;
      background-color: #f6f8f9;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 20px;

      li {
        box-sizing: border-box;
        padding: 3px 5px;
        font-size: 36px;
        color: inherit;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: darken(#d6d4d6, 20%);
        }
        label {
          color: inherit;
          i {
            color: inherit;
            cursor: pointer;
          }
          input:not(:checked) + i {
            color: #d6d4d6;
          }
          input:checked + i {
            color: inherit;
          }
          input {
            display: none;
          }
        }
      }
    }

    &:hover &-filter {
      transition: 0.5s;
      right: 10px;
    }

    &-item {
      color: white;
      background-color: currentColor;
      -itempadding: 6px 6px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      transform: translate(-50%, -50%);

      i,
      span {
        color: white;
      }
      span {
        font-size: 12px;
      }
      i {
        font-size: 20px;
      }
    }
  }

  .list {
    overflow-y: auto;
    height: auto;
    scroll-behavior: smooth;
  }

  .btn {
    border-radius: 6px;
    border: solid 1px #eaecf0;
    background-color: #ffffff;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: $normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #c8cdd5;
    display: block;
    outline: none;
    padding-top: 8px;
    padding-bottom: 12px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 13px;
    box-sizing: border-box;
    &:hover {
      transition: 0.3s;
      color: darken(#c8cdd5, 5%);
      background-color: darken(#ffffff, 2%);
      box-shadow: 0 0 10px darken(#ffffff, 10%);
    }
  }

  .item {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    flex-flow: column;
    margin-top: 13px;
    &:first-of-type {
      margin-top: 0px;
    }
    &:hover {
      transition: 0.5s;
      cursor: pointer;
      box-shadow: 0 0 10px lighten(#000, 80%);
    }
    &-link {
      display: none;
    }

    &-socials {
      display: none;
      transition: 0.5s;
      transform: translateX(-50px);
      position: absolute;
      top: 36px;
      left: 6px;
      z-index: 1;
      background: #f5f5f5;
      border-radius: 6px;
      overflow: hidden;

      padding: 3px 0px;

      li {
        a {
          text-align: center;
          display: block;
          padding: 3px 8px;
          color: #c8cdd5;
          text-decoration: none;
          font-size: 16px;
        }
      }

      li:hover {
        a {
          color: currentColor;
        }
      }
    }

    &:hover &-socials {
      transition: 0.5s;
      transform: translateX(0px);
    }

    &-img {
      display: block;
      width: 100%;
      height: 180px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &-like {
      position: absolute;
      top: 6px;

      left: 8px;
      z-index: 1;
      font-size: 24px;
      text-decoration: none;
      color: #fff;

      transition: 0.3s;
      input {
        display: none;
      }
      i {
        font-family: "icons";
        cursor: pointer;
      }
      i:before {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        content: "\f10d";
      }

      input:checked + i {
        transition: 0.3s;
        color: red;
        &:before {
          content: "\f10e";
        }
      }

      &:hover {
        transform: scale(1.2);
      }
    }
    &-data {
      padding: 8px 12px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #fff;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 29px;
    }
    &-title {
      margin-bottom: 10px;
      font-family: SegoeUI;
      font-size: 20px;
      font-weight: $semi-bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #4e5255;
      text-decoration: none;
    }

    &-label {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 1px;
      font-family: SegoeUI;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      border-radius: 3px;
      background-color: #66a3e9;
      padding: 3px 5px 5px;
      text-transform: lowercase;

      &--green {
        background-color: #39b7aa;
      }
      &--red {
        background-color: #fa6980;
      }
    }

    &-price {
      align-self: center;
      font-family: SegoeUI;
      font-size: 26px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.77;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
      span {
        font-size: 20px;
        font-weight: $normal;
        color: #9a9a9a;
        text-decoration: line-through;
      }
    }

    &-hint {
      align-self: center;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #c0c0c0;
    }
    &-text {
      margin-top: 12px;
      margin-bottom: 12px;
      align-self: flex-start;
      font-family: SegoeUI;
      font-size: 13px;
      font-weight: $normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #333;
      max-height: auto;
      overflow-y: auto;
    }

    &-buttons {
      align-self: center;
    }

    &-btn {
      background-color: #fff;
      display: inline-block;
      box-sizing: border-box;
      color: currentColor;
      outline: none;
      border: 1px solid currentColor;
      padding: 11px 48px;
      border-radius: 3px;
      text-transform: uppercase;
      font-family: SegoeUI;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
      &:hover {
        transition: 0.3s;
        background-color: currentColor;
        color: #fff;
        span,
        i {
          transition: 0.3s;
          color: #fff;
        }
      }

      &-icon {
        background-color: currentColor;
        padding: 3px 7px;
        top: 9px;
        position: relative;
        font-size: 30px;
        line-height: 1;
        outline: none;
        border: none;
        transition: 0.3s;
        i,
        span {
          transition: 0.3s;
          color: #fff;
        }

        &:hover {
          transition: 0.3s;
          background-color: #fff;
          i,
          span {
            transition: 0.3s;
            color: currentColor;
          }
        }
      }
    }
  }
  .wrapper-btn {
    display: none;
  }
  .wrapper-btn-mobile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .btn-more {
    display: none;
  }
}

@media (max-width:#{$mobile_small_max}px) {
  .btn-more {
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: solid 1px #d4d8e1;
    background-color: #d4d8e1;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #798493;
    padding: 12px 24px;
    cursor: pointer;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    &--on {
      object-fit: contain;
      border-radius: 4px;
      background-color: #798493;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #dfdfdf;
    }
  }
}
@media (max-width:#{$tablet_max}px) {
  .item-link {
    display: none;
  }
}
