@import '../../assets/scss/init';

.title {
    font-family: SegoeUI;
    font-size: 24px;
    font-weight: $semi-bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    margin-top:2em;
    margin-bottom:1em;
    color: #202124;
    text-transform: uppercase;
    text-decoration: none;
}