@import '../../assets/scss/init';

.container, .panel {
    display:flex;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px 10px;   
    border-radius:6px;
}


.fieldset {
    margin-top:20px;
    margin-bottom:6px;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.cb-group {
    width:100%;
    max-width: 600px;
    margin-top:6px;
    margin-bottom:6px;
    text-align: left;
    user-select:none;

}


.input {
    margin:5px;
    width:calc(49% - 10px);
}

.modal {
    

}

@media (max-width:#{$mobile_max}px) {
 
    .input {
        margin:5px;
        width:100%;
    }

}