@import "../../assets/scss/init";

.label {
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 6px;
  border: solid 1px #d4d8e1;
  background-color: #ffffff;
  font-family: SegoeUI;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  display: flex;
  align-items: center;

  b,
  em {
    font-weight: $bold;
    padding: 20px 20px 20px 10px;
    width: 80%;
    height: 100%;
  }
  span {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.button {
  justify-self: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-radius: 4px;
  border: solid 1px #d4d8e1;
  background-color: #d4d8e1;
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #798493;
  padding: 12px 24px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  &--on {
    object-fit: contain;
    border-radius: 4px;
    background-color: #798493;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #dfdfdf;
  }
}

.field {
  background-color: #ffffff;
  font-family: SegoeUI;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
  color: #707070;
  border: none;
  flex-grow: 2;
  border-bottom: solid 1px #d4d8e1;
  &:focus {
    outline: none;
  }
}

.input-group {
  margin: 0 auto;
  padding: 40px 10px;
  max-width: 1160px;
}

.container {
  display: block;
  box-sizing: border-box;

  background: #fff;
}
.searchInput {
  width: 80%;
  cursor: pointer;
}

@media (max-width: #{$mobile_max}px) {
  .label {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px #d4d8e1;
    background-color: #ffffff;
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #707070;

    b,
    em {
      font-weight: $bold;
    }
  }

  .button {
    width: 100%;
    justify-self: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: solid 1px #d4d8e1;
    background-color: #d4d8e1;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #798493;
    padding: 12px 24px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    &--on {
      object-fit: contain;
      border-radius: 4px;
      background-color: #798493;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #dfdfdf;
    }
  }

  .input-group {
    margin: 0 auto;
    padding: 20px 10px;
    max-width: auto;
  }

  .container {
    display: block;
    box-sizing: border-box;

    background: #fff;
  }
}
