@import '../../assets/scss/init';

.wrapper {
    width: 100%;
    display: flex;
    flex-flow:row;
    padding:20px;
}

.col-image {
    width:20%;
    box-sizing: border-box;
    padding:0 10px;
    flex-grow:2;
    img {
        width:150px;
        height:150px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}

.col-info {
    box-sizing: border-box;
    padding:0 10px;
    width:40%;
}
.col-menu {
    box-sizing: border-box;
    padding:0 10px;
    width:40%;
}

.name {
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: $normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom:26px;
}

.text {
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: $normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    margin: 8px 0;
    color: #707070;
  }
  
  .menu-container {
      border-radius: 6px;
      width:100%;
      box-sizing: border-box;
      padding:16px;
      border:1px solid currentColor;
      background-color: rgba(245, 245, 245, 0.39);
}

.menu-item {
    cursor: pointer;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: currentColor;
    margin-top:4px;
    margin-bottom:4px;
}



@media (max-width:#{$mobile-max}px) {
    .wrapper {
        width: 100%;
        display: flex;
        flex-flow:row;
        padding:20px 20px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    .col-image {
        width:30%;
        box-sizing: border-box;
        padding:0px 0px 20px;
        flex-grow:2;
        img {
            width:150px;
            height:150px;
            max-width: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    
    .col-info {
        box-sizing: border-box;
        padding:0 0px 20px;
        width:60%;
    }
    .col-menu {
        box-sizing: border-box;
        padding:0 0px;
        width:100%;
        text-align: center;
    }
    .menu-container {
        width:auto;
        display: inline-block;
    }

}