@import "../../assets/scss/init";

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: $overlay-level;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: unset !important;
}

.close {
  position: absolute;
  top: -40px;
  right: -40px;
  color: #fff;
  font-size: 64px;
  cursor: pointer;
}

@media (max-width:#{$mobile_max}px) {
  .container > div {
    padding-top: 40px;
  }

  .close {
    position: absolute;
    top: 0px;
    right: -40px;
    color: #fff;
    font-size: 64px;
    cursor: pointer;
  }
}
