@font-face {
    font-family: "UT-icons";
    src: url("UT-icons.eot?04d74edc90515af78fdc35cc665dac0a?#iefix") format("embedded-opentype"),
url("UT-icons.woff2?04d74edc90515af78fdc35cc665dac0a") format("woff2"),
url("UT-icons.woff?04d74edc90515af78fdc35cc665dac0a") format("woff"),
url("UT-icons.ttf?04d74edc90515af78fdc35cc665dac0a") format("truetype"),
url("UT-icons.svg?04d74edc90515af78fdc35cc665dac0a#UT-icons") format("svg");
}

i[class^="ut-icon-"]:before, i[class*=" ut-icon-"]:before {
    font-family: UT-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ut-icon-ac:before {
    content: "\f101";
}
.ut-icon-ac1:before {
    content: "\f102";
}
.ut-icon-alcohol:before {
    content: "\f103";
}
.ut-icon-attrac1:before {
    content: "\f104";
}
.ut-icon-attract:before {
    content: "\f105";
}
.ut-icon-banquets:before {
    content: "\f106";
}
.ut-icon-bike:before {
    content: "\f107";
}
.ut-icon-bike1:before {
    content: "\f108";
}
.ut-icon-bungee:before {
    content: "\f109";
}
.ut-icon-calendar1:before {
    content: "\f10a";
}
.ut-icon-calendar_1:before {
    content: "\f10b";
}
.ut-icon-calendar_2:before {
    content: "\f10c";
}
.ut-icon-car:before {
    content: "\f10d";
}
.ut-icon-car1:before {
    content: "\f10e";
}
.ut-icon-cart1:before {
    content: "\f10f";
}
.ut-icon-children:before {
    content: "\f110";
}
.ut-icon-childrens_corner:before {
    content: "\f111";
}
.ut-icon-clock:before {
    content: "\f112";
}
.ut-icon-empty:before {
    content: "\f113";
}
.ut-icon-event:before {
    content: "\f114";
}
.ut-icon-events:before {
    content: "\f115";
}
.ut-icon-facebook1:before {
    content: "\f116";
}
.ut-icon-food:before {
    content: "\f117";
}
.ut-icon-food1:before {
    content: "\f118";
}
.ut-icon-food2:before {
    content: "\f119";
}
.ut-icon-fun1:before {
    content: "\f11a";
}
.ut-icon-geo1:before {
    content: "\f11b";
}
.ut-icon-guest:before {
    content: "\f11c";
}
.ut-icon-heart-border1:before {
    content: "\f11d";
}
.ut-icon-heart1:before {
    content: "\f11e";
}
.ut-icon-home:before {
    content: "\f11f";
}
.ut-icon-home1:before {
    content: "\f120";
}
.ut-icon-home2:before {
    content: "\f121";
}
.ut-icon-hotel:before {
    content: "\f122";
}
.ut-icon-hotel1:before {
    content: "\f123";
}
.ut-icon-instagram1:before {
    content: "\f124";
}
.ut-icon-kids:before {
    content: "\f125";
}
.ut-icon-map1:before {
    content: "\f126";
}
.ut-icon-more:before {
    content: "\f127";
}
.ut-icon-mountain1:before {
    content: "\f128";
}
.ut-icon-nav1:before {
    content: "\f129";
}
.ut-icon-parking:before {
    content: "\f12a";
}
.ut-icon-parking1:before {
    content: "\f12b";
}
.ut-icon-people1:before {
    content: "\f12c";
}
.ut-icon-person:before {
    content: "\f12d";
}
.ut-icon-pet1:before {
    content: "\f12e";
}
.ut-icon-pets:before {
    content: "\f12f";
}
.ut-icon-room-service1:before {
    content: "\f130";
}
.ut-icon-sales1:before {
    content: "\f131";
}
.ut-icon-search1:before {
    content: "\f132";
}
.ut-icon-skiing:before {
    content: "\f133";
}
.ut-icon-skipass:before {
    content: "\f134";
}
.ut-icon-spa:before {
    content: "\f135";
}
.ut-icon-spa1:before {
    content: "\f136";
}
.ut-icon-spa2:before {
    content: "\f137";
}
.ut-icon-star1:before {
    content: "\f138";
}
.ut-icon-takeaway:before {
    content: "\f139";
}
.ut-icon-timer1:before {
    content: "\f13a";
}
.ut-icon-tracking:before {
    content: "\f13b";
}
.ut-icon-twitter1:before {
    content: "\f13c";
}
.ut-icon-view1:before {
    content: "\f13d";
}
.ut-icon-vip:before {
    content: "\f13e";
}
.ut-icon-vk1:before {
    content: "\f13f";
}
.ut-icon-voice1:before {
    content: "\f140";
}
.ut-icon-whatsapp1:before {
    content: "\f141";
}
.ut-icon-wifi1:before {
    content: "\f142";
}
.ut-icon-wine_map:before {
    content: "\f143";
}
