.like {
    position: absolute;
    top:6px;
    left:8px;
    z-index:1;
    font-size: 24px;
    text-decoration: none;
    
   
    transition:0.3s;
    input {
        display: none;
    }
    
    i{
        font-family: "icons";
        cursor: pointer;
        text-shadow: 0 0 5px rgba(0,0,0,.5);
        transition:0.3s;
        color:white;
    }

    i.like--on {
        transition:0.3s;
        color:red; 
    }

    &:hover {
        transform: scale(1.2);
    }
}