@import '../../assets/scss/vars';

.footer {
    color:#cbd0d3;
    background-color: #a6adb4;
    font-size:13px;
}
    .col {
        box-sizing: border-box;
        padding:52px 0;
        display:inline-flex;
        width:49%;
        flex-direction: row;
        justify-content: flex-start;
        
        &:nth-of-type(2) {
            justify-content: space-between;
        }
    }

    .sub-col {
        display: block;
        padding-right:30px;
        max-width:100px;

        &-big {
            width:50%;
            max-width:250px;
        }
    }

    .input {
        border:1px solid #cbd0d3;
        color:#cbd0d3;
        background-color:rgba(0,0,0,0);
        width:100%;
        border-radius: 6px;
        display: block;
        padding:6px;
        outline:none;
        margin-bottom:6px;
        &:focus {
            border:1px solid #cbd0d3;
        }

        &-btn {
            position: absolute;
            right:-16px;
            font-size: 20px;
            top:4px;
            cursor:pointer;
            color:#cbd0d3;
            background-color:rgba(0,0,0,0);
            border:none;
            outline:none;

        }

    }

    .socials {
        font-size: 18px;
        li {
            display: inline-block;
        }
    }

    .hint {
        color:#cbd0d3;
        font-size:11px;
    }

    .footer  a {
        display:block;
         font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #cbd0d3;
        text-decoration: none;

        &:hover {
            color:inherit;
            text-decoration: underline;
        }
    }



    @media (max-width:#{$mobile-max}px){

        .input {
            border:1px solid #cbd0d3;
            color:#cbd0d3;
            background-color:rgba(0,0,0,0);
            width:100%;
            border-radius: 6px;
            display: block;
            padding:6px;
            outline:none;
            margin-bottom:6px;
            &:focus {
                border:1px solid #cbd0d3;
            }
    
            &-btn {
                position: absolute;
                right:-16px;
                font-size: 20px;
                top:4px;
                cursor:pointer;
                color:#cbd0d3;
                background-color:rgba(0,0,0,0);
                border:none;
                outline:none;
    
            }
    
        }

        
        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            padding:12px 6px;
            display:inline-flex;
            width:100%;
            
            justify-content: center;
            &:nth-of-type(2) {
                justify-content: center;
            }
        }
    
        .sub-col {
            display: none;
                
            &-big {
                padding:12px 0;
                width:auto;
                max-width:auto;
            }
        }
    
    }
    

    @media (min-width:#{$mobile-max+1}px) and (max-width:#{$tablet-max}px) {
        .sub-col-big {
            display: none;
        }
        
        .footer > div {
            text-align: center;
        }

    }