@import "../../../assets/scss/_vars";
@import "../../../assets/scss/init";

.picker-input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80px;
  min-width: 100px;
  margin-top: 3px;
  width: calc(100% - 30px);
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background: none;
  &:hover {
    cursor: pointer;
  }
}
.input-subfilter {
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 80px;
  // min-width: 80px;
  height: 21px;
  // width: 80px;
  // outline: none;
  // border: none;
  font-size: 14px;
  font-weight: $normal;
  color: #000;
  background: none;
  // text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.input-category {
  height: 21px;
  font-size: 14px;
  font-weight: $normal;
  color: #000;
  background: none;
  &:hover {
    cursor: pointer;
  }
}
.moreWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.productAdults {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
  }
}
.search {
  border-bottom: none;
  font-size: 14px;
  line-height: 1.5;
  width: 50px;
  margin-top: unset;
}
@media (max-width:#{$mobile_small_max}px) {
  .productAdults {
    justify-content: space-around;
    // margin-top: 8px;
  }
}
