@import "../../../assets/scss/init";

@media (min-width:#{$mobile_max+1}px) {
    .container {
        width: 100%;
        max-width: 552px;
        padding: 0 20px;
    }
    .group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .input-group {
        flex-grow: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
        //height:50px;
        margin-bottom: 7px;
        padding: 9px 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .input-group-inline {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        flex-wrap: nowrap;
    }

    .input-label {
        color: currentColor;
        text-transform: uppercase;
        font-family: SegoeUI;
        font-size: 20px;
        font-weight: $semi-bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        margin-right: 22px;
        white-space: nowrap;
    }

    .input-text {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 80px;
        min-width: 80px;
        width: calc(100% - 30px);
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-family: SegoeUI;
        font-size: 16px;
        font-weight: $regular;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        background: none;
        &-inline {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
    }

    .input-icon {
        margin-left: 11px;
        text-decoration: none;
        cursor: pointer;
        color: #a2a2a2;
        font-size: 24px;
        &:hover {
            color: #000;
        }
    }

    .input-btn {
        border-radius: 6px;
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 0px 11px;
        color: #c5c5c5;
        font-size: 28px;
        line-height: 1;
        text-decoration: none;
        margin-left: 11px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            color: darken(#c5c5c5, 10%);
            background-color: darken(#f1f1f1, 5%);
        }
    }
    .input-cb {
        display: none;
    }

    .btn {
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #798493;
        font-family: SegoeUI;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;

        letter-spacing: normal;
        text-align: center;
        color: #c8cdd5;
        cursor: pointer;
        transition: 0.3s;
        height: 50px;
        box-sizing: border-box;
        padding: 18px 40px 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        border: none;
        margin-left: 5px;

        position: relative;
        display: block;
        i {
            position: absolute;
            vertical-align: bottom;
            font-size: 200%;
            top: 12px;
            right: 10px;
        }
        &:hover {
            background-color: darken(#798493, 10%);
            transition: 0.3s;
        }
        &--on {
            background-color: currentColor;
            span,
            i {
                color: #fff;
            }
        }
    }
    .more {
        width: 100%;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s;
        box-sizing: border-box;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &--on {
            transition: 0.3s;
            max-height: 1000px;
            margin-top: 10px;
        }
    }
}

@media (max-width:#{$mobile_max}px) {
    .container {
        width: calc(100% - 20px);
        max-width: 100%;
        padding: 10px;
    }
    .group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .input-group {
        width: 100%;
        flex-grow: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
        //height:50px;
        margin-bottom: 7px;
        padding: 9px 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .input-group-inline {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        align-items: center;

        flex-wrap: nowrap;
    }

    .input-label {
        color: currentColor;
        text-transform: uppercase;
        font-family: SegoeUI;
        font-size: 16px;
        font-weight: $semi-bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        margin-right: 6px;
        white-space: nowrap;
    }

    .input-text {
        flex-grow: 1;
        width: calc(100% - 30px);

        flex-shrink: 1;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-family: SegoeUI;
        font-size: 16px;
        font-weight: $regular;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        background: none;
        &-inline {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .input-icon {
        margin-left: 4px;
        text-decoration: none;
        cursor: pointer;
        color: #a2a2a2;
        font-size: 24px;
        &:hover {
            color: #000;
        }
    }

    .input-btn {
        border-radius: 6px;
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 0px 6px;
        color: #c5c5c5;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        margin-right: 6px;
        margin-left: 6px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            color: darken(#c5c5c5, 10%);
            background-color: darken(#f1f1f1, 5%);
        }
    }
    .input-cb {
        display: none;
    }

    .btn {
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #798493;
        font-family: SegoeUI;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #c8cdd5;
        cursor: pointer;
        transition: 0.3s;
        height: 50px;
        box-sizing: border-box;
        padding: 12px 60px 0 40px;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        border: none;
        margin-left: 5px;
        vertical-align: top;
        position: relative;
        i {
            position: absolute;
            vertical-align: bottom;
            font-size: 200%;
            top: 5px;
            right: 20px;
        }
        &:hover {
            background-color: darken(#798493, 10%);
            transition: 0.3s;
        }
    }
    .more {
        width: 100%;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s;
        box-sizing: border-box;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &--on {
            transition: 0.3s;
            max-height: 1000px;
            margin-top: 10px;
        }
    }
}

@media (max-width: 376px) {
    .input-text-inline {
        width: 50px;
    }
}
